<ngx-datatable #table
               class="material striped table"
               [rows]="gdprRequests"
               [scrollbarV]="true"
               [columnMode]="'force'"
               [headerHeight]="50"
               [footerHeight]="50"
               [rowHeight]="25"
               [messages]="{emptyMessage: 'COMMON.TABLE.EMPTY'|translate,
                            totalMessage: 'COMMON.TABLE.TOTAL'|translate,
                            selectedMessage: 'COMMON.TABLE.SELECTED'|translate}">
	<ngx-datatable-column [sortable]="false"
							name="GDPR.TABLE.DATE_TIME"
							prop="SubmitedAt"
							[flexGrow]="1"
							[canAutoResize]="true"
							[resizeable]="1">
		<ng-template let-sort="sortFn"
					let-column="column"
					ngx-datatable-header-template>
			<span class="datatable-header-cell-label">{{ column.name | translate }}</span>
		</ng-template>
		<ng-template let-value="value"
					ngx-datatable-cell-template>
			{{ (value) ? (value | glpDateLocale | amDateFormat:'lll') : "-"}}
		</ng-template>
	</ngx-datatable-column>
	<ngx-datatable-column [sortable]="false"
							name="GDPR.TABLE.USER"
							prop="UserUuid"
							[flexGrow]="1"
							[canAutoResize]="true"
							[resizeable]="1">
		<ng-template let-sort="sortFn"
					let-column="column"
					ngx-datatable-header-template>
			<span class="datatable-header-cell-label">{{ column.name | translate }}</span>
		</ng-template>
		<ng-template let-value="value"
					ngx-datatable-cell-template>
			{{ users[value]?.Username }}
		</ng-template>
	</ngx-datatable-column>
	<ngx-datatable-column [sortable]="false"
							name="GDPR.TABLE.ACTION_TITLE"
							prop="StartingEmployeeUuid"
							[flexGrow]="1"
							[canAutoResize]="true"
							[resizeable]="1">
		<ng-template let-sort="sortFn"
					let-column="column"
					ngx-datatable-header-template>
			<span class="datatable-header-cell-label">{{ column.name | translate }}</span>
		</ng-template>
		<ng-template let-row="row"
					ngx-datatable-cell-template>
			{{ 'GDPR.TABLE.ACTION_MSG' | translate:{pcName: computers[row.MachineUuid]?.Name} }}
		</ng-template>
	</ngx-datatable-column>
	<ngx-datatable-column [sortable]="false"
							name="GDPR.TABLE.DETAILS"
							prop="StartingEmployeeUuid"
							[flexGrow]="1"
							[canAutoResize]="true"
							[resizeable]="1">
		<ng-template let-sort="sortFn"
					let-column="column"
					ngx-datatable-header-template>
			<span class="datatable-header-cell-label">{{ column.name | translate }}</span>
		</ng-template>
		<ng-template let-row="row"
					ngx-datatable-cell-template>
			{{ row.SigningPersonName }}, {{row.ParentalRelationship}}
		</ng-template>
	</ngx-datatable-column>
	<ngx-datatable-column [sortable]="false"
							name="GDPR.TABLE.COMPUTER"
							prop="MachineUuid"
							[flexGrow]="1"
							[canAutoResize]="true"
							[resizeable]="1">
		<ng-template let-sort="sortFn"
					let-column="column"
					ngx-datatable-header-template>
			<span class="datatable-header-cell-label">{{ column.name | translate }}</span>
		</ng-template>
		<ng-template let-value="value"
					ngx-datatable-cell-template>
			{{ computers[value]?.Name }}
		</ng-template>
	</ngx-datatable-column>
	<ngx-datatable-column [sortable]="false"
							name="GDPR.TABLE.SOURCE_TITLE"
							prop="StartingEmployeeUuid"
							[flexGrow]="1"
							[canAutoResize]="true"
							[resizeable]="1">
		<ng-template let-sort="sortFn"
					let-column="column"
					ngx-datatable-header-template>
			<span class="datatable-header-cell-label">{{ column.name | translate }}</span>
		</ng-template>
		<ng-template let-row="row"
					ngx-datatable-cell-template>
			{{ 'GDPR.TABLE.SOURCE_MSG' | translate:{userName: users[row.UserUuid]?.Username} }}
		</ng-template>
	</ngx-datatable-column>
	<ngx-datatable-column [sortable]="false"
							name="GDPR.TABLE.PROCESS"
							[flexGrow]="1"
							[canAutoResize]="true"
							[resizeable]="1">
		<ng-template let-sort="sortFn"
					let-column="column"
					ngx-datatable-header-template>
			<span class="datatable-header-cell-label">{{ column.name | translate }}</span>
		</ng-template>
		<ng-template let-row="row"
					ngx-datatable-cell-template>
			<div class="table-cell">
				<button mat-icon-button color="primary" (click)="approveGDPRrequest(row)">
					<mat-icon aria-label="Approve request">check</mat-icon>
				</button>
				<button mat-icon-button color="primary" (click)="rejectGDPRrequest(row)">
					<mat-icon aria-label="Reject request">delete</mat-icon>
				</button>
			</div>
		</ng-template>
	</ngx-datatable-column>

</ngx-datatable>

<div class="datatable-footer_scroll-to-top">
  <button mat-raised-button color="primary" (click)="scrollToTop()">
    {{ 'COMPONENTS.DATATABLE.SCROLL_TO_TOP' | translate }}
  </button>
</div>
